* {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    color: black;
}

header {
    overflow: hidden;
}

header a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: gray;
    color: white;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 8px;
    background-color: gray;
    width: fit-content;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}


main {
    background-color: silver;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #8f8a8a;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}

main div {
    background-color: white;
    margin: 10px;
    box-shadow: 3px 3px #888888;
    padding: 10px;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    main div {
        width: auto;
    }
}

main div img {
    width: 100%;
}

main div table {
    color: black;
    text-align: center;
}

main div table th {
    width: 100px;
}

main div table tr td {
    font-weight: 300;
    border-bottom: 2px solid gray;
}

main div form fieldset {
    background-color: #c0bdbd;
}

main div form fieldset legend {
    color: black;
}

main div form fieldset div {
    background-color: #c0bdbd;
    color: black;
    box-shadow: none;
    width: 100%;
}

main div form fieldset div input,
select,
textarea {
    display: block;
    width: 100%;
}

main div form fieldset div input[type=radio] {
    display: inline-block;
    width: 10px;
}


footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

footer div {
    width: 33%;
    border-left: 1px solid rgb(168, 157, 157);
    border-right: 1px solid rgb(168, 157, 157);
    padding: 10px;
    color: #8f8a8a;
}

footer div p {
    text-align: center;
}

#copyright {
    display: none;
}