body {
    background-color: #799496 !important;
    box-sizing: border-box;
}

h1 {
    color: #E9EB9E;
    text-shadow: 5px -5px 5px rgba(172, 193, 150, 1);
}

th,
td {
    border: 2px solid #ACC196;
}